@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Web.DataResolving;
<div class="@Model.CssClass">
    <h2>Threads</h2>
    <ul>
        @foreach (var item in Model.Items)
        {
            var navigateUrl = HyperLinkHelpers.GetDetailPageUrl(item, Guid.Empty, true);

            <li>
                <h3>
                    <a href="@navigateUrl">@item.Fields.Title</a>
                </h3>
                <div>
                    Views Count: @item.Fields.ViewsCount
                    @item.GetDateTime("LastModified", "MMM d, yyyy, HH:mm tt")
                </div>
            </li>
        }
    </ul>
    @if (Model.ShowPager)
    {
        @Html.Action("Index", "ContentPager", new
           {
               currentPage = Model.CurrentPage,
               totalPagesCount = Model.TotalPagesCount.Value,
               redirectUrlTemplate = ViewBag.RedirectPageUrlTemplate
           })
    }
</div>
